<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})">
    <title>Задача</title>

</head>

<body>

<div th:replace="base :: navigation"></div>

<div class="container">
    <div class="row row-margin-bottom">

        <!--    Вставка боковой панели  -->
        <div th:replace="base :: side-panels"></div>
        <!-- *** -->


        <div class="main-content col-9 border rounded-lg">
            <h5 class="centered green-h">Задача "[[${problem.name}]]"</h5>

            <ul class="nav nav-pills tabs-menu">
                <li>
                    <a class="nav-link active" href="" id="linkStatementProblem">Условие</a>
                </li>
                <li>
                    <a class="nav-link" href="" id="linkSendProblem">Сдать</a>
                </li>
                <li>
                    <a class="nav-link" href="" id="linkViewRuns">Посылки</a>
                </li>
            </ul>


            <div class="container" id="containerOfTabs">


                <div id="statementProblem">

                    <div th:unless="${statement}" class="alert alert-warning" role="alert">
                        Условий нет.
                    </div>

                    <div class="row row-table" th:if="${statement}">
                        <div class="col">
                            <a href="javascript://" th:attr="onclick=|loadFileByPath('${problem.pathToTextProblem}')|">
                                <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;
                                [[ ${problem.nameOfTextProblem} ]]
                            </a>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br>
                </div>

                <div id="sendProblem" style="display:none;">
                    <form th:action="@{'/student/submit/'+${problem.id}}"
                          th:object="${submitRunForm}"
                          method="POST"
                          enctype="multipart/form-data">

                        <div class="row row-margin-top">
                            <div class="col-3 col-align-center">
                                <label for="compilerSend">Компилятор:</label>
                            </div>
                            <div class="col">
                                <select id="compilerSend" class="form-control" th:field="*{language}">
                                    <option th:each="lang, state : ${langs}"
                                            th:value="${state.index}"
                                            th:text="${lang.name}"/>
                                </select>
                            </div>
                        </div>


                        <div class="row row-margin-top">
                            <div class="col-3 col-align-center">
                                <label for="file">Выберите файл:</label>
                                <input type="radio" id="radioSourceFileSubmit" name="chooseSubmitType"
                                       checked="checked">
                            </div>
                            <div class="col">
                                <input type="hidden" th:field="*{flagSourceCode}" id="flagSourceCodeNo">
                                <input type="file" th:field="*{multipartFile}" class="form-control" id="file"
                                       name="file">
                            </div>
                        </div>


                        <div class="row row-margin-top">
                            <div class="col-3 col-align-center">
                                <label for="codeSolutionSend">Или вставье код:</label>
                                <input type="radio" id="radioSourceCodeSubmit" name="chooseSubmitType">
                            </div>
                            <div class="col">
                                <input type="hidden" th:field="*{flagSourceCode}" id="flagSourceCodeYes">
                                <textarea rows="15" th:field="*{sourceCode}" class="form-control"
                                          id="codeSolutionSend" disabled></textarea>
                            </div>
                        </div>

                        <div class="row row-margin-top">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Отправить решение</button>
                            </div>
                        </div>
                    </form>
                </div>


                <div id="ViewRuns" style="display:none;">

                    <div class="row">
                        <div class="col col-align-center">
                            <div>Время последнего обновления: <span id="timeLastRefreshTableSubmitions"></span></div>
                        </div>
                        <div class="col col-align-right">
                            <a class="btn btn-primary" id="refreshTableSubmitions"><i class="fa fa-refresh"
                                                                                      aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div id="tableSubmitions"></div>

                </div>


            </div>
        </div>

    </div>
</div>


<footer th:replace="base :: footer"></footer>


<script>

    $('#linkStatementProblem').click(function (e) {
        $('#linkStatementProblem').addClass('active');
        $('#statementProblem').show();
    });


    $('#linkSendProblem').click(function (e) {
        $('#linkSendProblem').addClass('active');
        $('#sendProblem').show();
    });

    $('#linkViewRuns').click(function (e) {
        $('#linkViewRuns').addClass('active');
        $('#ViewRuns').show();
        getSubmitions();
    });

</script>


<script th:if="${activeTabMenu}">
    $("#[[ ${activeTabMenu} ]]").click();
</script>

</body>
</html>