<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})">
    <title>Задача</title>

</head>

<body>

    <div th:replace="base :: navigation"></div>

    <div class="container">
        <div class="row row-margin-bottom">

            <!--    Вставка боковой панели  -->
            <div th:replace="base :: side-panels"></div>
            <!-- *** -->


            <div class="main-content col-9 border rounded-lg">
                <h5 class="centered green-h" th:unless="${isCreate}">Задача "[[ ${problem.name} ]]"</h5>
                <h5 class="centered green-h" th:if="${isCreate}">Задача "Без названия"</h5>


                <ul class="nav nav-pills tabs-menu">
                    <li>
                        <a class="nav-link active" href="" id="linkGeneralSetting"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Общие настройки</a>
                    </li>
                    <li th:unless="${isCreate}">
                        <a class="nav-link" href="" id="linkStatementProblem">Условие</a>
                    </li>
                    <li th:unless="${isCreate}">
                        <a class="nav-link" href="" id="linkTestsProblem">Тесты</a>
                    </li>
                    <li th:unless="${isCreate}">
                        <a class="nav-link" href="" id="linkCheckerProblem">Чекер</a>
                    </li>
                    <li th:unless="${isCreate}">
                        <a class="nav-link" href="" id="linkSendProblem">Сдать</a>
                    </li>

                </ul>




                <div class="container" id="containerOfTabs">

                    <div id="problemSettings">
                        <form th:action="${isCreate} ? @{'/teacher/problem-create'} : @{'/teacher/problem/' + ${problem.id}}"
                            th:object="${problem}" method="post">
                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="nameOfProblem">Наименование задачи:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="nameOfProblem" class="form-control" th:field="*{name}">
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="timeLimit">Ограничение по времени (сек):</label>
                                </div>
                                <div class="col-3">
                                    <input type="text" id="timeLimit" class="form-control" th:field="*{timeLimit}">
                                </div>
                                <div class="col-3 col-align-center">
                                    <label for="memoryLimit">Ограничение по памяти (Мб):</label>
                                </div>
                                <div class="col-3">
                                    <input type="text" id="memoryLimit" class="form-control"  th:field="*{memoryLimit}">
                                </div>
                            </div>


                            <div class="row row-margin-top">
                                <div class = "col col-align-right">
                                    <button class="btn btn-primary" type="submit" th:unless="${isCreate}">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Сохранить
                                    </button>

                                    <button class="btn btn-primary" type="submit" th:if="${isCreate}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Создать
                                    </button>
                                </div>
                            </div>
                        </form>


                        <div id="tagsProblems" th:unless="${isCreate}">
                            <div class="row row-margin-top">
                                <div class="col"><h6 ><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Теги задачи</h6 ></div>
                            </div>

                            <div class="row">
                                <div class="col" th:if="${#lists.isEmpty(problem.getHashTagsVisible())}">
                                    <div  class="alert alert-warning" role="alert">
                                        Прикрепите теги к задаче, чтобы облегчить её поиск в пуле задач
                                    </div>
                                </div>
                                <div class="col-4" th:each="pTag : ${problem.getHashTagsVisible()}">
                                    <a th:href="@{'/teacher/pool-problems/' + ${pTag.id}}">#[[ ${pTag.name} ]]</a>
                                    <!--&nbsp;&nbsp;-->
                                    <!--<a href="#" class="hash-tag-remove"><i class="fa fa-times" aria-hidden="true"></i></a>-->
                                </div>
                            </div>



                            <form th:action="'/teacher/problem/' + ${problem.id} + '/update-tags'" th:object="${choiceTagsForm}" method="post">
                                <div class="row row-margin-top">
                                    <div class="col">
                                        <label for="tags-scrolling">Можете изменить список тегов данной задачи</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 border rounded-lg" id="tags-scrolling">
                                        <div th:each="tag, iStat : ${hashTags}" th:style="'margin-left: ' + ${tag.level}*2 + 'rem;'">
                                            <input type="checkbox" th:class="'tag-checkbox parent-' + ((${tag.parent}) ? (${tag.parent.id}) : '')"
                                                    th:id="'hashTag-' + ${tag.id}" th:field="*{tagList[__${iStat.index}__]}">
                                            <label th:for="'hashTag-' + ${tag.id}" th:text="${tag.name}">Тег</label>
                                        </div>


                                        <!--<div class="col">-->
                                        <!--<div th:each="tag : ${hashTags}" th:style="'margin-left: ' + ${tag.level}*2 + 'rem;'">-->
                                        <!--<input type="checkbox" th:field="*{tagList}" th:value="${tag.id}" />-->
                                        <!--<label th:for="${#ids.prev('tagList')}" th:text="${tag.name}">Тег</label>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div th:each="tag, iStat : ${hashTags}" th:style="'margin-left: ' + ${tag.level}*2 + 'rem;'">-->
                                            <!--<input type="checkbox" th:id="'hashTag-' + ${tag.id}" th:field="*{tagList}" th:value="*{tagList[__${iStat.index}__]}">-->
                                            <!--<label th:for="'hashTag-' + ${tag.id}" th:text="${tag.name}">Тег</label>-->

                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="row row-margin-top">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Обновить список тегов</button>
                                    </div>
                                </div>
                            </form>


                        </div>

                        <hr class="row row-margin-top" th:unless="${isCreate}">
                        <div class="row row-margin-top" th:unless="${isCreate}">
                            <div class = "col">
                                <a class="btn btn-success">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Опубликовать задачу
                                </a>
                            </div>
                            <div class = "col col-align-right">
                                <a class="btn btn-danger">
                                    <i class="fa fa-trash-o fa-lg"></i>&nbsp;Удалить задачу
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="statementProblem"  style="display:none;" th:unless="${isCreate}">

                        <div th:if="${problem.pathToTextProblem == null}" class="alert alert-warning" role="alert">
                            Добавьте, пожалуйста, условие.
                        </div>

                        <div class="row row-table" th:unless="${problem.pathToTextProblem == null}">
                            <div class="col">
                                <a href="javascript://" th:attr="onclick=|loadFileByPath('${problem.pathToTextProblem}')|" >
                                    <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;
                                    [[ ${problem.nameOfTextProblem} ]]
                                </a>
                            </div>

                            <div class="col-2">
                                <a class="btn btn-danger" th:href="@{'/teacher/problem/'+${problemId}+'/delete-statement'}">
                                    <i class="fa fa-trash-o fa-lg"></i></a>
                            </div>
                        </div>

                        <div class="row row-margin-top" th:if="${problem.pathToTextProblem == null}">
                            <div class="col">
                                <a class="btn btn-success" data-toggle="modal" data-target="#modalLoadFileStatement"
                                   data-whatever="@mdo">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить условие к задаче
                                </a>

                                <div class="modal fade" id="modalLoadFileStatement" tabindex="-1" role="dialog"
                                     aria-labelledby="modalLoadFileStatementLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/teacher/problem/'+${problem.id}+'/add-statement'}"
                                                  th:object="${theoryMaterialForm}"
                                                  method="POST"
                                                  enctype="multipart/form-data">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLoadFileStatementLabel">Условие задачи</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="recipient-name"
                                                               class="col-form-label">Наименование</label>
                                                        <input type="text" th:field="*{name}" class="form-control"
                                                               id="recipient-name">
                                                    </div>
                                                    <div class="form-group" id="sourceTM1">
                                                        <label for="source-text1" class="col-form-label">Источник</label>
                                                        <input type="file" th:field="*{multipartFile}" class="form-control" id="source-text1" name="file">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Закрыть
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" id="loadTheoryFile">
                                                        Сохранить
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col"></div>
                        </div>


                    </div>

                    <div id="testsProblem" style="display:none;" th:unless="${isCreate}">
                        <form th:action="@{'/teacher/problem/'+ ${problem.id} +'/tests-upload'}" th:object="${loadTestsForm}" method="post" enctype="multipart/form-data">

                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="extensionIn">Расширение входных файлов:</label>
                                </div>
                                <div class="col-3">
                                    <select id="extensionIn" class="form-control" th:field="*{extensionIn}">
                                        <option value=".in">.in</option>
                                        <option value=".dat">.dat</option>
                                        <option value=".txt">.txt</option>
                                        <option value=".inp">.inp</option>
                                    </select>
                                </div>

                                <div class="col-3 col-align-center">
                                    <label for="extensionAns">Расширение выходных файлов:</label>
                                </div>
                                <div class="col-3">
                                    <select id="extensionAns" class="form-control" th:field="*{extensionAns}">
                                        <option value=".ans">.ans</option>
                                        <option value=".dat">.dat</option>
                                        <option value=".txt">.txt</option>
                                        <option value=".out">.out</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="dirTests">Выберите файлы с тестами:</label>
                                </div>
                                <div class="col">
                                    <input type="file" id="dirTests" class="form-control" multiple="multiple" th:field="*{dirTests}">
                                </div>
                            </div>

                            <div class="row row-margin-top">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Загрузить</button>
                                </div>
                            </div>
                        </form>

                        <div class="row row-margin-top">
                            <div class="col">
                                <h6 ><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Тесты к задаче</h6 >
                                <div class="container col-align-centered">
                                    <div class="row table-header row-table">
                                        <div class="col-1">№</div>
                                        <div class="col">Входный файл</div>
                                        <div class="col">Выходный файл</div>
                                        <div class="col-3">Управление</div>
                                    </div>

                                    <div th:class="'row row-table ' + ((${iState.index} % 2 == 1) ? 'dark-row' : '')" th:each="test, iState : ${fileTests}">
                                        <div class="col-1" th:text="${iState.index} + 1"></div>
                                        <div class="col" th:text="${test} + '.in'"></div>
                                        <div class="col" th:text="${test} + '.ans'"></div>
                                        <div class="col-3">
                                            <a class="btn btn-danger" th:href="@{'/teacher/problem/' + ${problem.id} + '/test-delete/' + ${test}}"><i class="fa fa-trash-o fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="checkerProblem" style="display:none;" th:unless="${isCreate}">
                        <form th:action="@{'/teacher/problem/'+ ${problem.id} +'/checker-settings'}" th:object="${checkerSettingsForm}" method="post" enctype="multipart/form-data">
                            <div class="row row-margin-top">
                                <div class="col">
                                    <input type="hidden" name="typeChecker" id="clicsValidator" th:value="true" th:field="*{clicsValidator}">
                                    <!--<label for="clicsValidator">Использовать встроенный чекер</label>-->
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col">
                                    <input type="checkbox" id="caseSensitive" th:field="*{caseSensitive}">
                                    <label for="caseSensitive">Чувствительный к регистру</label>
                                </div>
                                <div class="col">
                                    <input type="checkbox" id="spaceSensitive" th:field="*{spaceSensitive}">
                                    <label for="spaceSensitive">Чувствительный к пробелам</label>
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col">
                                    <input type="checkbox" id="floatAbsoluteTolerance" th:field="*{floatAbsoluteTolerance}">
                                    <label for="floatAbsoluteTolerance">Установаить допустимую абсолютную погрешность</label>
                                </div>
                                <div class="col">
                                    <input id="absoluteTolerance" type="text" disabled="disabled" class="form-control" th:field="*{absoluteTolerance}">
                                </div>
                            </div>

                            <div class="row row-margin-top">
                                <div class="col">
                                    <input type="checkbox" id="floatRelativeTolerance" th:field="*{floatRelativeTolerance}">
                                    <label for="floatRelativeTolerance">Установаить допустимую относительную погрешность</label>
                                </div>
                                <div class="col">
                                    <input id="relativeTolerance" type="text" disabled="disabled" class="form-control" th:field="*{relativeTolerance}">
                                </div>
                            </div>

                            <!--todo: кастомный чекер оставляем на потом-->
                            <!--<div class="row row-margin-top">-->
                                <!--<div class="col">-->
                                    <!--<input type="radio" name="typeChecker" id="customValidator" th:value="false" th:field="*{clicsValidator}">-->
                                    <!--<label for="customValidator">Использовать собственный чекер</label>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="row row-margin-top">
                                <div class = "col col-align-right">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="sendProblem" style="display:none;" th:unless="${isCreate}">
                        <form>
                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                   <label for="compilerSend">Компилятор:</label>
                                </div>
                                <div class="col">
                                    <select class="form-control" id="compilerSend">
                                        <option>Visual C++ 2019</option>
                                        <option>GNU C++</option>
                                        <option>Java</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="fileSolutionSend">Выберите файл:</label>
                                </div>
                                <div class="col">
                                    <input type="file" class="form-control" id="fileSolutionSend">
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col-3 col-align-center">
                                    <label for="codeSolutionSend">Или вставье код:</label>
                                </div>
                                <div class="col">
                                    <textarea rows="15" class="form-control" id="codeSolutionSend"></textarea>
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <div class="col">
                                    <button type="submit" class="btn btn-success">Отправить решение</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <footer th:replace="base :: footer"></footer>


    <script>

        $('#linkGeneralSetting').click(function(e){
            $('#linkGeneralSetting').addClass('active');
            $('#problemSettings').show();
        });

        $('#linkStatementProblem').click(function(e){
            $('#linkStatementProblem').addClass('active');
            $('#statementProblem').show();
        });

        $('#linkTestsProblem').click(function(e){
            $('#linkTestsProblem').addClass('active');
            $('#testsProblem').show();
        });


        $('#linkCheckerProblem').click(function(e){
            $('#linkCheckerProblem').addClass('active');
            $('#checkerProblem').show();
        });


        $('#linkSendProblem').click(function(e){
            $('#linkSendProblem').addClass('active');
            $('#sendProblem').show();
        });



        //События кликов в настройках чекера

        $('#floatAbsoluteTolerance').click(function(e){
            if ($(this).is(':checked')) {
                $('#absoluteTolerance').prop('disabled', false);
            } else {
                $('#absoluteTolerance').prop('disabled', true);
            }
        });

         $('#floatRelativeTolerance').click(function(e){
            if ($(this).is(':checked')) {
                $('#relativeTolerance').prop('disabled', false);
            } else {
                $('#relativeTolerance').prop('disabled', true);
            }
        });

    </script>
</body>
</html>