<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})">
    <title>Тема</title>
</head>

<body>

<div th:replace="base :: navigation"></div>

<div class="container">
    <div class="row row-margin-bottom">

        <!--    Вставка боковой панели  -->
        <div th:replace="base :: side-panels"></div>
        <!-- *** -->


        <div class="main-content col-9 border rounded-lg">
            <h4 class="centered green-h dotted-bottom-border" th:unless="${isCreate}">
                <a th:href="@{'/teacher/course/' + ${chapter.courseChapters.id}}" th:text="${chapter.courseChapters.name}">
                </a>
            </h4>
            <h5 class="centered green-h" th:unless="${isCreate}">Тема "[[ ${chapter.name} ]]"</h5>
            <h5 class="centered green-h" th:if="${isCreate}">Тема "Новая тема"</h5>

            <ul class="nav nav-pills tabs-menu">
                <li th:unless="${isCreate}">
                    <a class="nav-link active" href="#" id="linkTmOfChapter">
                        <i class="fa fa-book fa-fw"aria-hidden="true"></i>&nbsp;Теоретический материал
                    </a>
                </li>
                <li th:unless="${isCreate}">
                    <a class="nav-link" href="#" id="linkThemeProblems">
                        <i class="fa fa-tasks"aria-hidden="true"></i>&nbsp;Задачи
                    </a>
                </li>
                <li th:unless="${isCreate}">
                    <a class="nav-link " href="#" id="linkResultsForTheme">
                        <i class="fa fa-table" aria-hidden="true"></i>&nbsp;Монитор</a>
                </li>
                <li>
                    <a class="nav-link " href="#" id="linkThemeSettings"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Параметры</a>
                </li>
            </ul>


            <div class="container" id="containerOfTabs">

                <div id="tmOfChapter" th:unless="${isCreate}" class="col-align-centered">

                    <div class="row row-table table-header">
                        <div class="col">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Материал
                        </div>
                        <div class="col-2">
                            <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;
                            Управление
                        </div>
                    </div>

                    <div class="row row-margin-top" th:if="${#lists.isEmpty(theories)}">
                        <div class="col">
                            <div  class="alert alert-warning" role="alert">
                                Тема пока не содержит ни одного теоретического материала
                            </div>
                        </div>
                    </div>

                    <div th:class="'row row-table ' + ((${iState.index} % 2 == 1) ? 'dark-row' : '')" th:each="theory, iState : ${theories}">
                        <div class="col">
                            <a th:unless="${theory.file}" th:href="${theory.source}" target="_blank">
                                <i class="fa fa-link" aria-hidden="true"></i>&nbsp;[[ ${theory.name} ]]
                            </a>
                            <a th:if="${theory.file}" href="javascript://" th:attr="onclick=|loadFileByPath('${theory.source}')|">
                                <i class="fa fa-file" aria-hidden="true"></i>&nbsp;[[ ${theory.name} ]]
                            </a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" th:href="@{'/teacher/course/'+${course_id}+'/delete-tm/'+${chapter.id}+'/'+${theory.id}}">
                                <i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div>


                    <div class="row row-margin-top">
                        <div class="col">
                            <a class="btn btn-success" data-toggle="modal" data-target="#modalDownloadFile"
                               data-whatever="@mdo">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить новый теоретический материал
                            </a>

                            <div class="modal fade" id="modalDownloadFile" tabindex="-1" role="dialog"
                                 aria-labelledby="modalDownloadFileLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:action="@{'/teacher/course/'+${course_id}+'/chapter/'+${chapter_id}+'/add-theory'}"
                                              th:object="${theoryMaterialForm}"
                                              method="POST"
                                              enctype="multipart/form-data">

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalDownloadFileLabel">Новый теоретический
                                                    материал</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="recipient-name"
                                                           class="col-form-label">Наименование</label>
                                                    <input type="text" th:field="*{name}" class="form-control"
                                                           id="recipient-name">
                                                </div>
                                                <div class="form-group" id="sourceTM1">
                                                    <label for="source-text1" class="col-form-label">Источник</label>
                                                    <input type="file" th:field="*{multipartFile}" class="form-control" id="source-text1" name="file">
                                                </div>
                                                <div class="form-group" id="sourceTM2">
                                                    <label for="source-text2" class="col-form-label">Источник</label>
                                                    <input type="text" th:field="*{link}" class="form-control" id="source-text2">
                                                </div>
                                                <input type="radio" id="sourceFile" name="chooseSource" checked="checked">
                                                <label for="sourceFile">Файл</label>
                                                <input type="radio" id="sourceLink" name="chooseSource">
                                                <label for="sourceLink">Ссылка</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button type="submit" class="btn btn-primary" id="loadTheoryFile">
                                                    Сохранить
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col"></div>
                    </div>
                </div>

                <div id="problemsOfTheme" th:unless="${isCreate}" style="display: none;">
                    <!--<div class="alert alert-warning" role="alert">-->
                    <!--К теме пока не прикреплена ни одна задача-->
                    <!--</div>-->
                    <!--<div class="alert alert-danger" role="alert">-->
                    <!--Прикрепляемая вами задача уже прикреплена к теме-->
                    <!--</div>-->

                    <div class="col-align-centered">
                        <div class="row row-table table-header">
                            <div class="col">
                                <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp; Задача
                            </div>
                            <div class="col">
                                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; Сложность
                            </div>
                            <div class="col">
                                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; Решаемость
                            </div>
                            <div class="col">
                                <i class="fa fa-tags" aria-hidden="true"></i>&nbsp; Теги
                            </div>
                            <div class="col-3">
                                Управление
                            </div>
                        </div>

                        <div class="row row-margin-top" th:if="${#lists.isEmpty(chapter.chapterProblems)}">
                            <div class="col">
                                <div  class="alert alert-info" role="alert">
                                    Прикрепите задачи к теме на страницах задач
                                </div>
                            </div>
                        </div>

                        <div class="row row-table" th:each="problem : ${chapter.chapterProblems}">
                            <div class="col">
                                <a th:href="@{'/teacher/problem/' + ${problem.id}}" th:text="${problem.name}">
                                    Задача
                                </a>
                            </div>
                            <div class="col">
                                Средняя
                            </div>
                            <div class="col">
                                [[ ${problem.countAccepted} ]]&nbsp; / [[ ${problem.totalSubmit} ]]
                            </div>
                            <div class="col">
                                <span th:each="tag : ${problem.getHashTagsVisible()}">
                                    <a th:href="@{'/teacher/pool-problems/' + ${tag.id}}">
                                        #[[ ${tag.name} ]]
                                    </a>
                                    &nbsp;
                                </span>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger"
                                   th:href="@{'/teacher/chapter/' + ${chapter.id} + '/dettach-problem/' + ${problem.id}}">
                                    <i class="fa fa-trash-o fa-lg"></i>&nbsp;
                                    Открепить от темы
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="resultForTheme" style="display: none;" th:unless="${isCreate}">
                    <div class="container row-margin-top  col-align-centered" id="monitorOfGroup">
                        <div class="row table-header row-table">
                            <div class="col-1">№</div>
                            <div class="col-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Студент</div>
                            <div class="col-1"><i class="fa fa-tasks" aria-hidden="true"></i></div>
                            <div class="col-1"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                            <div class="col" th:each="problem, iState: ${chapter.chapterProblems}">
                                <a th:href="@{'/teacher/problem/' + ${problem.id}}"
                                   th:text="${iState.index} + 1"
                                   th:title="${problem.name}">A</a>
                            </div>
                        </div>
                        <div class="row row-table" th:each="standingsRecord, iState : ${monitor.getRecords()}">
                            <div class="col-1" th:text="${iState.index + 1}">#</div>
                            <div class="col-3" th:text="${monitor.getStudent(iState.index)}">Иванов Иван Иванович</div>
                            <div class="col-1" th:text="${standingsRecord.getNumberSolved()}">-</div>
                            <div class="col-1" th:text="${standingsRecord.getPenaltyPoints()}">-</div>
                            <div class="col" th:each="problemInfo : ${monitor.getProblemInfos(iState.index)}">
                                    <span th:if="${problemInfo.getNumberSubmitted()} == 0">

                                    </span>
                                <span th:unless="${problemInfo.getNumberSubmitted()} == 0">
                                        <span th:if="${problemInfo.isSolved()}" class="cell-task-plus">
                                            +[[ (${problemInfo.getNumberSubmitted() - 1}) != 0 ? ${problemInfo.getNumberSubmitted() - 1} : '' ]]
                                        </span>
                                        <span th:unless="${problemInfo.isSolved()}" class="cell-task-minus">
                                            -[[ (${problemInfo.getNumberSubmitted() - 1}) != 0 ? ${problemInfo.getNumberSubmitted() - 1} : '' ]]
                                        </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="themeSettings" style="display: none;">
                    <form class="needs-validation" novalidate
                          th:action="${isCreate}? @{'/teacher/course/'+${course_id}+'/chapter-create'} : @{'/teacher/course/'+${course_id}+'/chapter/' + ${chapter.id}}"
                          th:object="${chapter}" method="POST">
                        <div class="row row-margin-top">
                            <div class="col-3 col-align-center">
                                <label for="nameOfTheme">Наименование темы</label>
                            </div>
                            <div class="col">
                                <input type="text" id="nameOfTheme" class="form-control" th:field="*{name}">
                                <!--<div class="col invalid-tooltip">-->
                                <!--Наименование курса не может быть пустым-->
                                <!--</div>-->
                                <div class="col my-invalid-tooltip" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}">Некорректное наименование
                                </div>
                            </div>
                        </div>

                        <div class="row row-margin-top">
                            <div class="col col-align-right">
                                <button class="btn btn-primary" type="submit" th:unless="${isCreate}">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Сохранить
                                </button>

                                <button class="btn btn-primary" type="submit" th:if="${isCreate}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Создать
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<footer th:replace="base :: footer"></footer>

<script th:if="${isCreate}">
    //Чтобы при запуске страницы создания активировалась вкладка с настройками
    $(document).ready(function () {
        $("#linkThemeSettings").click();
    });
</script>

<script th:if="${pageSubscribes}">
    //Чтобы при запуске страницы активировалась вкладка с подписчиками
    $(document).ready(function () {
        $("#linkTmOfChapter").click();
    });
</script>

<script>

    //Клик по вкладке Теоретический материал
    $('#linkTmOfChapter').click(function (e) {
        $('#linkTmOfChapter').addClass('active');
        $('#tmOfChapter').show();
    });

    //Клик по вкладке Задачи темы
    $('#linkThemeProblems').click(function (e) {
        $('#linkThemeProblems').addClass('active');
        $('#problemsOfTheme').show();
    });

    //Клик по вкладке Монитор
    $('#linkResultsForTheme').click(function (e) {
        $('#linkResultsForTheme').addClass('active');
        $('#resultForTheme').show();
    });

    //Клик по вкладке Параметры
    $('#linkThemeSettings').click(function (e) {
        $('#linkThemeSettings').addClass('active');
        $('#themeSettings').show();
    });


    //Обработка кликов по радио-кнопкам с выбором типа прикрепления задачи
    $('#typeAddSelect').click(function (e) {
        $('#selectProblems').attr('disabled', false);
    });

    $('#typeAddNew').click(function (e) {
        $('#selectProblems').attr('disabled', true);
    });

    function getMonitor() {
        $.ajax({
             type: 'post',
             url: "/teacher/theme/monitor",
             data: {'idChapter': 305},
             dataType: "html",
             success: function (data) {
                 console.log("фио было успешно изменено " + data);
             }
        });
    }


    setInterval(function() {
        if ($('#linkResultsForTheme').hasClass('active')) {
            //getMonitor();
        }
    }, 2000);

</script>
</body>
</html>
