<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


    <head th:fragment="common_header(title)">
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title th:replace="${title}">Title</title>

        <link rel="shortcut icon" th:href="@{/img/altstu-logo.png}"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/signin.css}"/>
    </head>


    <body>

        <!--    Верхнее меню   -->
        <div th:fragment="navigation">
            <div class="navigation">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" th:href="${isTeacher} ? @{'/teacher'} : (${isStudent} ? @{'/student/course'} : @{'#'})">PC2</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="${isTeacher} ? @{'/teacher'} : (${isStudent} ? @{'/student/course'} : @{'#'})"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="${isTeacher} ? @{'/teacher/pool-problems'} : (${isStudent} ? @{'/student/pool-problems'} : @{'#'})">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Пул задач
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Пул тем</a>
                            </li>

                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" th:href="@{/teacher/tags}"> <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Теги</a>-->
                            <!--</li>-->

                        </ul>

                        <!-- Имя текущего пользователя -->
                        <div sec:authorize="isAuthenticated()">
                        <a href="" id="curUserName">
                            <span class="curUserNameText"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;</span>
                            </a>
                        </div>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <form id="form" th:action="@{/logout}" method="post">
                            <a href="javascript:void(0)" id="submit" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Выйти</a>
                        </form>
                    </div>
                </nav>
            </div>
        </div>



        <!--    Боковые панели  -->
        <!--    Здесь можно будет в зависимости от пользователя подключать разные панели    -->
        <!--    Например для преподавателей это курсы и группы, для студентов последние задачи и темы     -->

        <div th:fragment="side-panels" class="col">
            <div class="container">

                <div class="row row-margin-bottom" th:if="${teacherCourses}">
                    <div class = "col border rounded-lg quick-panel">
                        <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Мои курсы</h5>
                        <hr />
                        <ul>
                            <li th:each="course : ${teacherCourses}">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<a th:href="@{'/teacher/course/' + ${course.id}}" th:text="${course.name}">Курс</a>
                            </li>
                        </ul>
                        <div class="link-new"><a th:href="@{/teacher/course-create}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Создать курс</a></div>
                    </div>
                </div>

                <div class="row row-margin-bottom" th:if="${teacherProblems}">
                    <div class = "col border rounded-lg quick-panel">
                        <h5><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Мои задачи</h5>
                        <hr />
                        <ul>
                            <li th:each="problem : ${teacherProblems}">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
                                <a th:href="@{'/teacher/problem/' + ${problem.id}}" th:text="${problem.name}">Задача</a>
                            </li>
                            <!--<li><a th:href="@{'/teacher/problem'}"><i class="fa fa-shield fa-rotate-270"></i>&nbsp;Ещё...</a></li>-->
                        </ul>
                        <div class="link-new"><a th:href="@{'/teacher/problem-create'}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Создать задачу</a></div>

                        <div class="link-new"><a id="linkShowSubmitionsTeacher" th:href="@{'/teacher/submitions'}">
                            <i class="fa fa-angellist" aria-hidden="true"></i>&nbsp;Посмотреть отправки</a></div>
                    </div>
                </div>

                <div class="row row-margin-bottom" th:if="${studentCourse}">
                    <div class = "col border rounded-lg quick-panel">
                        <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Курс</h5>
                        <hr />
                        <ul>
                            <li>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
                                <a th:href="@{'/student/course/'}">Курс 1</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row row-margin-bottom" th:if="${studentCourses}">
                    <div class = "col border rounded-lg quick-panel">
                        <h5><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Задачи</h5>
                        <hr />
                        <ul>
                            <li th:each="problem : ${studentProblems}">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
                                <a th:href="@{'/student/problem/' + ${problem.id}}" th:text="${problem.name}">Задача</a>
                            </li>
                        </ul>
                        <div class="link-new"><a id="linkShowSubmitionsStudent" th:href="@{'/student/submitions'}">
                            <i class="fa fa-angellist" aria-hidden="true"></i>&nbsp;Посмотреть отправки</a></div>

                    </div>
                </div>

            </div>
        </div>




        <!--    Футер и скрипты     -->
        <footer th:fragment="footer">

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
            <script th:src="@{/js/main.js}"></script>
        </footer>

    </body>
</html>