<div class="row table-header row-table">
    <div class="col-1">№</div>
    <div class="col-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Студент</div>
    <div class="col-1"><i class="fa fa-tasks" aria-hidden="true"></i></div>
    <div class="col-1"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
    <div class="col" th:each="problem, iState: ${chapter.chapterProblems}">
        <a th:href="@{'/teacher/problem/' + ${problem.id}}"
           th:text="${iState.index} + 1"
           th:title="${problem.name}">A</a>
    </div>
</div>
<div class="row row-table" th:each="record, iState : ${monitor.getRecords()}">
    <div class="col-1" th:text="${iState.index + 1}">#</div>
    <div class="col-3" th:text="${record.fio}"></div>
    <div class="col-1" th:text="${record.countOfPass}">-</div>
    <div class="col-1" th:text="${record.timeSolve}">-</div>
    <div class="col" th:each="problemInfo : ${record.iProblemDetailsList}">
        <span th:unless="${problemInfo}"> *
        </span>
        <span th:if="${problemInfo}">
            <span th:if="${problemInfo.isSolved()}" class="cell-task-plus">
                +[[ (${problemInfo.getAttempts() - 1}) != 0 ? ${problemInfo.getAttempts() - 1} : '' ]]
            </span>
            <span th:unless="${problemInfo.isSolved()}" class="cell-task-minus">
                -[[ (${problemInfo.getAttempts()}) != 0 ? ${problemInfo.getAttempts()} : '' ]]
            </span>
        </span>
    </div>
</div>