<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})">
    <title>Посылки</title>

</head>

<body>

<div th:replace="base :: navigation"></div>

<div class="container">
    <div class="row row-margin-bottom">

        <!--    Вставка боковой панели  -->
        <div th:replace="base :: side-panels"></div>
        <!-- *** -->


        <div class="main-content col-9 border rounded-lg">
            <h5 class="centered green-h"> Результаты тестирования задач</h5>
            <ul class="nav nav-pills tabs-menu">
            </ul>

            <div>

                <table id="ViewRunsUser" class="table table-striped table-bordered table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Задача</th>
                        <th scope="col">Время</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Исходный код</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="run, state : ${runs}">
                        <th scope="row" th:text="${run.number}"></th>
                        <td th:text="${run.displayName}"></td>
                        <td th:text="${run.time}"></td>
                        <td th:text="${run.langauge}"></td>
                        <td th:text="${run.status}"></td>
                        <td><a class="btn btn-primary" th:href="${isTeacher} ? @{'/teacher/source/' + ${run.number}} : (${isStudent} ? @{'/student/source/' + ${run.number}} : @{'#'})"
                              target="_blank">Исходный код</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>



<footer th:replace="base :: footer">
</footer>
</body>
</html>